.wrapper
  - if !user_signed_in?
    .welcome_alert
      %span.closebtn{:onclick => "this.parentElement.style.display='none';"}
        &times
      Bem-vindo ao BIBLIOUS.

  %h1.title Perguntas
  - @questions.each do |question|
    .question
      .question_title
        = link_to question.title, question
      .question_author
        por #{@users.find(question.user_id).name}, #{time_ago_in_words(question.created_at)} atrás.
      .description
        = link_to strip_tags(question.description).truncate_words(20), question
        %br
      .footer_q
        - question.tag_list.each do |tag|
          = link_to tagged_url(:tag=> tag) do
            .tag_btn #{tag.capitalize}
        .number
          .tag_btn
            #{question.answers.count} Respostas
