.wrapper
  %h1 Perguntas
  - @questions.each do |question|
    .question
      .question_title
        = link_to question.title, question
        .question_author
          por
          = @users.find(question.user_id).name

      .description
        = link_to question.description.truncate_words(20), question
        %br
      .number
        = question.answers.count
        Respostas
        %p
= link_to "New question", new_question_path
