%h1= @question.title
%p= @question.description

= link_to "Edit", edit_question_path(@question)
= link_to "Destroy", question_path(@question), method: :delete, data: { confirm: "Are you sure?"}
= link_to "Home", root_path