.wrapper
  .question_ans
    .title
      = @question.title
    .description
      = simple_format(@question.description)
    .footer_ans
      .author
        %p
          por
          %span #{@question.user.name}
      .likes
        = @question.get_upvotes.size
        = link_to like_question_path(@question), method: :get do
          %i.up.fa.fa-thumbs-o-up
        = @question.get_downvotes.size
        = link_to dislike_question_path(@question), method: :get do
          %i.down.fa.fa-thumbs-o-down

  %h2.answer_count= pluralize(@question.answers.count, "Respostas")
  - @answers.each do |answer|
    .answer
      .content= simple_format(answer.content)
      .footer_answ
        .author
          %p
            por
            %span #{answer.user.name}
  %br
  = render 'answers/form'

= link_to "Home", root_path
= link_to "Edit", edit_question_path(@question)
= link_to "Destroy", question_path(@question), method: :delete, data: { confirm: "Are you sure?" }
