
.wrapper
  .question_ans
    .title
      = @question.title
    .description
      = @question.description
    .author
      por
      .span= @question.user.name
    .likes
      = @question.get_upvotes.size
      %i.fa.fa-thumbs-o-up
      = @question.get_downvotes.size
      %i.fa.fa-thumbs-o-down

      = link_to "Like", like_question_path(@question), method: :get
      = link_to "Dislike",  dislike_question_path(@question), method: :get

  %h2.answer_count= pluralize(@question.answers.count, "Answer")
  - @answers.each do |answer|
    .answer
      .content= answer.content
      .username= answer.user.name
  %br
  = render 'answers/form'

= link_to "Home", root_path
= link_to "Edit", edit_question_path(@question)
= link_to "Destroy", question_path(@question), method: :delete, data: { confirm: "Are you sure?" }
